@CHARSET "UTF-8";

body { /*encompasses the header and the footer as well*/
	margin: 0; /*removes the default margins to utilize all space*/
	position: fixed; /*therefore, with respect to window, so as to 
						allow for sizing of children with respect to the window 
						through the body (through absolute) using percentages*/
	/* width and height are implicitly 100% as a matter of display*/
	width: 100%; /*explicitly set to allow for children's absolute sizing*/
	height: 100%;
	/*explicitly set to allow for children's absolute sizing*/
	font-family: mmoneib;
	font-variant: small-caps;
	font-size: 150%;
}

header {
	background-color: #000080;
	height: 13%; /*with respect to body*/
	width: 100%; /*with respect to body*/
	display: table; /*to allow children to be displayed as table-cell*/
	position: absolute; /*therefore, with respect to body*/
	z-index: 12; /*to stay on top*/
	box-shadow: 2px 2px 15px #000000;
	color: #87CEFA;
}

footer {
	background-color: #000080;
	color: #87CEFA;
	position: absolute; /*therefore, with respect to body*/
	bottom: 0px; /*with respect to body*/
	width: 100%; /*with respect to body*/
	height: 3%; /*with respect to body*/
	z-index: 12; /*to stay on top*/
	box-shadow: 2px 2px 15px #000000;
}

footer>span {
	position: relative; /* because top is neglected if static */
	top: 4px;
	left: 4px;
}

h1 {
	text-align: center;
}

section {
	width: 300%;
	position: fixed;
	overflow: hidden;
	height: 84%;
	transition: right 0.5s, background-color 2s;
	box-shadow: 2px 2px 15px #000000;
}

iframe {
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	position: absolute;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-corner {
	background-color: rgba(255, 255, 255, 0);
}

#sec_artwork.section_active {
	right: -201%;
}

#sec_software_projects.section_active {
	right: -202%;
}

#sec_writing.section_active {
	right: -203%;
}

#sec_favorite_links.section_active {
	right: -204%;
}

#sec_about_me.section_active {
	right: -205%;
}

.section_inactive_right {
	cursor: pointer;
}

#sec_main.section_inactive_right:HOVER {
	background-color: yellow;
}

#sec_artwork.section_inactive_right:HOVER {
	background-color: yellow;
	right: -294%;
}

#sec_software_projects.section_inactive_right:HOVER {
	background-color: yellow;
	right: -295%;
}

#sec_writing.section_inactive_right:HOVER {
	background-color: yellow;
	right: -296%;
}

#sec_favorite_links.section_inactive_right:HOVER {
	background-color: yellow;
	right: -297%;
}

#sec_about_me.section_inactive_right:HOVER {
	background-color: yellow;
	right: -298%;
}

#sec_main.section_inactive_left:HOVER {
	right: -200%;
	background-color: yellow;
}

.section_inactive_left {
	cursor: pointer;
}

#sec_artwork.section_inactive_left:HOVER {
	background-color: yellow;
	right: -200%;
}

#sec_software_projects.section_inactive_left:HOVER {
	background-color: yellow;
	right: -201%;
}

#sec_writing.section_inactive_left:HOVER {
	background-color: yellow;
	right: -202%;
}

#sec_favorite_links.section_inactive_left:HOVER {
	background-color: yellow;
	right: -203%;
}

#sec_about_me.section_inactive_left:HOVER {
	background-color: yellow;
	right: -204%;
}

#sec_main.section_inactive_left {
	right: -200%;
}

#sec_artwork.section_inactive_left {
	right: -201%;
}

#sec_software_projects.section_inactive_left {
	right: -202%;
}

#sec_writing.section_inactive_left {
	right: -203%;
}

#sec_favorite_links.section_inactive_left {
	right: -204%;
}

#sec_about_me.section_inactive_left {
	right: -205%;
}

#sec_main {
	right: -205Ù%;
	/*background-color: #E6E6E6;*/
	/*background-color: #F2E8DC;*/
	background-color: Silver;
	z-index: 0;
}

#sec_artwork {
	right: -295%;
	/*background-color: #CCCCCC;*/
	/*background-color: #E8DAC6;*/
	background-color: RosyBrown;
	z-index: 1;
}

#sec_software_projects {
	right: -296%;
	/*background-color: #B2B2B2;*/
	/*background-color: #E0CAAE;*/
	background-color: SteelBlue;
	z-index: 2;
}

#sec_writing {
	right: -297%;
	/*background-color: #999999;*/
	/*background-color: #D6BC98;*/
	background-color: Tan;
	z-index: 3;
}

#sec_favorite_links {
	right: -298%;
	/*background-color: #808080;*/
	/*background-color: #BDA27E;*/
	background-color: Teal;
	z-index: 4;
}

#sec_about_me {
	right: -299%;
	/*background-color: #666666;*/
	/*background-color: #937E62;*/
	background-color: SlateGray;
	z-index: 5;
}

#sec_artwork.section_panned_submenu {
	right: -100%;
}

#sec_artwork.section_panned_content {
	right: 0;
}

#img_header_logo {
	right: 0%;
	top: 0%;
	height: 160%; /* with respect to the first non-static parent*/
}

#div_header_bubble {
	width: 80%;
	height: 100%;
	display: table-cell;
	vertical-align: middle; /*works because the display is table-cell*/
	overflow: visible;
}

@font-face {
	font-family: mmoneib;
	src: url("../fonts/MMoneib-Yoken2-CalligraphyPen.otf");
}

#div_header_bubble>h1 {
	font-family: mmoneib;
	font-variant: small-caps;
	font-size: 220%;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px
		1px 0 black; /*4 shadows to simulate black background*/
	margin: 0 auto; /*override default margins of h1*/
	cursor: pointer;
	margin: 0 auto;
}

#div_header_bubble>h1>.capital_letter {
	font-size: 120%;
}

#div_header_bubble>h1>.capital_letter:HOVER {
	color: yellow;
}

#div_header_bubble>h1>.small_letter:HOVER {
	color: yellow;
}

#div_header_logo {
	position: absolute;
	width: 20%;
	height: 100%;
	display: table-cell;
	vertical-align: middle; /*works because the display is table-cell*/
	pointer-events: none; /*make image undraggable*/
}

#div_body {
	position: fixed;
	top: 13%;
	/*because body element contains the header and footer inside*/
	height: 100%;
	width: 200%;
	background-color: black;
	overflow: hidden;
	left: 0px;
}

.div_section_title {
	width: 16em; /*large enough to accommodate for the width of the title
					prior to rotation, so as to avoid wrapping*/
	height: 100%;
	left: -8em; /*half of width to allow for left alignment of this div
					with the top of the section's title after its rotation*/
	position: absolute;
	/*percentage is translated correctly because parent's position is fixed*/
	display: table; /*to allow vertical alignment in its children*/
}

.div_section_title>div {
	/*inherits width and size of parent*/
	display: table-cell;
	vertical-align: middle; /*to align the title in the middle*/
}

.div_section_title>div>h2 {
	text-align: center; /*to align the title horizontally in the middle*/
	transform-origin: 50% 0%;
	/*setting rotation pivot at the middle of the top edge
								so as to maintain the same left position regardless
								of the width of the title*/
	transform: rotate(-90deg);
	font-size: 100%;
}

.div_section_menu {
	position: absolute;
	height: 100%;
	/* top: 5%; */
	left: 0%;
	width: 33.333333%;
	display: flex;
	overflow: auto;
}

.div_section_menu>span {
	width: 50%;
	height: 50%;
	background-color: transparent;
	position: absolute;
	/*I am using spans to show parts which maps to visuals
							rather than contents, and that's why the absolute 
							positioning is more suitable in that case.*/
}

.div_section_body {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
}

.div_section_menu>span>.img_bubble {
	opacity: 0.2;
	cursor: pointer;
	position: absolute;
	z-index: 10; /*Just in case they overlap with the cartoon character.*/
}

.div_section_menu>.span_img_character {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.div_section_menu>span>.img_bubble:HOVER {
	opacity: 1;
}

.span_leftbottom {
	left: 0%;
	top: 50%;
}

.span_lefttop {
	left: 0%;
	top: 0%;
}

.span_righttop {
	left: 50%;
	top: 0%;
}

.span_rightbottom {
	left: 50%;
	top: 50%;
}

#img_righttop_bubble_photography {
	bottom: 5%;
	left: 5%;
}

#img_rightbottom_bubble_other {
	left: 5%;
	top: 5%;
}

#img_lefttop_bubble_drawing {
	right: 5%;
	bottom: 5%;
}

#img_leftbottom_bubble_cartoonscomics {
	right: 5%;
	top: 5%;
}

#sec_artwork.section_out {
	right: -300%;
}

#sec_software_projects.section_out {
	right: -300%;
}

#sec_writing.section_out {
	right: -300%;
}

#sec_favorite_links.section_out {
	right: -300%;
}

#sec_about_me.section_out {
	right: -300%;
}

.div_section_submenu {
	position: absolute;
	left: 33.33333333%;
	width: 33.33333333%;
	height: 100%;
}

.div_section_content {
	width: 33.33333333%;
	height: 100%;
	position: absolute;
	right: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_content_container {
	overflow: auto;
	padding-right: 2%;
	Height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.div_content_artwork {
	box-shadow: 2px 2px 15px #000000;
	padding: 20px;
	background-color: white;
	margin-top: 3%;
	margin-bottom: 3%;
}

.div_button_back {
	position: absolute;
	/*prevents automatic spreading of div horizontally like block elements do by default*/
	left: 0%;
	height: 100%;
	display: table;
	color: #87CEFA;
	cursor: pointer;
	width: 5%;
}

.div_button_back:HOVER {
	color: yellow;
}

.div_button_back>span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: mmoneib;
	font-size: 300%; /*of its original size*/
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px
		1px 0 black; /*4 shadows to simulate black background*/
}

.div_content {
	position: absolute;
	top: 5%;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	overflow-y: scroll;
	padding-right: 0.5%;
	/* of the parent from which this div dervies its size */
}

.submenu_header {
	border: medium;
	border-style: solid;
	border-color: black;
	text-align: center;
	border-color: black;
	background-color: #87CEFA;
}

.submenu_header:HOVER {
	background-color: yellow;
	cursor: pointer;
}

.div_sub_content {
	width: 100%;
	height: 160px; /* 150 for the height of the thumb and 10 for padding */
	position: relative;
	/*if absolute, floating children will fall outside */
	overflow-x: scroll;
	overflow-y: hidden;
	margin-bottom: 2%;
	/* to push below header away from horizontal scroll */
	padding-bottom: 1%;
	/* to push below body away from horizontal scroll */
}

.div_sub_content>span {
	/*The contents slider will grow horizontaly dynamically as elements are added.
	No need to specify width. If I had used flex only, it would have worked still,
	but it wouldn't have grown beyond 100%, even if all images would have been
	visible. Inline-flex insures that the span would also grow. */
	display: inline-flex;
	position: absolute;
}

.div_sub_content>span>img {
	float: left;
	position: relative;
	cursor: pointer;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rotateImage { 50% {
	-webkit-transform: rotateY(180deg);
}
/* 50% to allow looping without break. */
}

/* Standard syntax */
@keyframes rotateImage { 50% {
	transform: rotateY(180deg);
}

}
.div_sub_content>span>img:HOVER {
	-webkit-animation: rotateImage 5s infinite; /* Chrome, Safari, Opera */
	animation: rotateImage 5s infinite;
}

/* Calling by class is more specific than type, thehttp://localhost:8080/Personal_Website/refore overrides it. */
.sign_collapse {
	position: absolute;
	left: 1%;
}

#div_about_me{
	display: flex;
    overflow: hidden;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 4%;
    background-color: #87CEFA;
    border-style: solid;
}

#div_about_me_info {
	position: relative;
/* 	padding-top: 3%; */
/* 	padding-left: 5%; */
/* 	padding-right: 4%; */
	/* Less 1 % because 1 is already taken by the padding
    					to separate the text from the scroll bar.*/
	background-color: #87CEFA;
	border-radius: 10px;
	overflow: hidden;
	z-index:0; /*Needed for the splitted background.*/
}

#div_about_me_info>.div_background {
	z-index: 100;
	/*background-color: #87CEFA;*/
	overflow: auto;
	padding-right: 1%;
    PADDING-LEFT: 1%;
	height: 100%;
}

#div_about_me_info>.div_high_background{
    width: 90%;
    margin-left: 4%;
    overflow: hidden;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

#div_about_me_image {
	position: relative;
	width: 45%;
	height: 100%;
}

#div_about_me_image>img {
	height: 98%; /*Only height is specified to maintain aspect ratio.*/
}

.lowered_content {
	box-shadow: inset 104px 104px 15px -100px rgba(0, 0, 0, 0.7), inset
		-104px -104px 15px -100px rgba(0, 0, 0, 0.7);
	background-color: transparent;
}

.div_about_info_image {
	height: 100%;
    width: 90%;
}

.div_about_info_caption {
	overflow: auto;
	overflow-wrap: break-word;
	background-color: #87CEFA;
	color: FireBrick;
	font-variant: normal;
}

.div_anchor {
	box-sizing: border-box; /*To exclude padding and margins from calc.*/
	position: relative;
	width: 100%;
	height: 96%;
	padding-left: 5%;
	display: flex;
	padding-top: 3%;
}

.fixed_container {
	/*Any number would do. This sets the element as
					the new reference for fixed sizing instead of the window.*/
	transform: translateZ(0);
	transition: height 1s; overflow : hidden; height : 176px;
	/*Dynamic sizing without giving a height depends	on the size of 
		the children, which causes transitions to jump as 	they need an original size 
		as a reference. Also, since thumbnails 	and the horizontal 	scrollbar have 
		specific sizes, this fixed size should suffice.*/
	margin-bottom: 2%;
	overflow: hidden;
	height: 176px;
}

.fixed_container>span {
	position: fixed; /*With respect to the fixed container.*/
	width: 100%; /*TODO: Should be specific for a class.*/
	height: 150px;
	/*TODO: Should be specific for a class. This is the height of
					the thumb nails.*/
	top: 0px; /*TODO: Should be specific for a class.*/
	left: 0px; /*TODO: Should be specific for a class.*/
	pointer-events: none; /*Prevents the blockage of mouse events for any
							of the elements that lie beneath it. It is used
							here because the span is only used as a mask to
							apply shadows.*/
}

/*When 2 or more classes are assigned to an element, the one towards
	the end of the CSS file overrides if there are conflicts in the attributes.
	Here, this class is used for transition, therefore conflicts are desired.
	Hence, it is put near the end of the file to override the height of any of
	the preceding classes.*/
.collapsed {
	height: 0px;
}

.div_low_background{
	position:absolute;
	width:100%;
	height:100%;
/* 	padding:10%; */
	display:flex;
	justify-content: center;
	box-sizing:border-box;
	left:0px;
	top:-1000px;
	pointer-events:none;
}

.div_low_background>img{
	height:100%;
}

#div_background_1{
/* 	background-color:yellow; */
	z-index:-10;
	top:0%;
}

#div_background_2{
/* 	background-color:blue; */
	z-index:-9;
}

#div_background_3{
/* 	background-color:green; */
	z-index:-8;
}

#div_background_4{
/* 	background-color:purple; */
	z-index:-7;
}

#div_background_5{
/* 	background-color:orange; */
	z-index:-6;
}

#div_background_6{
/* 	background-color:brown; */
	z-index:-5;
}

#div_background_7{
/* 	background-color:gray; */
	z-index:-4;
}

#div_background_8{
/* 	background-color:magenta; */
	z-index:-3;
}

#div_background_9{
/* 	background-color:black; */
	z-index:-2;
}

#div_background_10{
/* 	background-color:white; */
	z-index:-1;
}

.span_lowered_content_side{
	height: 100%;
    width: 5%;
    background-color: #87CEFA;'
}

.div_sliding_background_content{
	width: 100%;
    position: static;
    display: flex;
    height: 80%;
}

/*The media queries are used to provide abrupt changes based on certain triggers
to allow for responsive design.*/
@media(max-width:700px){
	#div_about_me{
		width:100%;
	}
	#div_about_me_image{
		width:10%;
	}
}

#div_aphorimsm_banner{
	position:relative; /*Needed so as to be a reference for absolute positioning.*/
	width:90%;
	overflow:hidden;
	height:30%;
	box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
	color: maroon;
}


#div_aphorisms_background{
	position:relative;
	left:-2%;
	top:-2%;
	width:104%;
	height:104%;
	background-image: url("../images/ghostly.jpg");
	background-position:center;
	background-size: cover;
	background-color: lightslategrey;
	background-blend-mode: screen;
	z-index:-100;
}

.div_container_flex{
	display:flex;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	align-items:center;
	justify-content:Center;
}

#div_aphorism{
	width:75%;
	text-align: center;
}

#div_main_branch{
    width: 45%;
    height: 60%;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-color: #87CEFA;
    border-style: solid;
    
}

.div_main_branch_anchor{
	overflow: auto;
	
}

.div_anchor2 {
	box-sizing: border-box; /*To exclude padding and margins from calc.*/
	position: relative;
	width: 100%;
	height: 96%;
	padding-left: 5%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 3%;
}

#div_siteupdate_header{
	border-style: none;
	border-bottom-style: solid;
}